body {
  text-align: center;
  background: #f2f5f9;
}

#root {
  width: 500px;
  padding-top: 20px;
  margin: auto;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
